@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&family=Lexend+Tera&display=swap');
/*
Fonts
font-family: 'Jura', sans-serif;
font-family: 'Lexend Tera', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

/* General setting */
html{
  font-family: montserrat, sans-serif;
  font-size: 16px;
}

/* Header */
header{
  display: block;
  background-color: rgba(165, 42, 42, 0.8);
  height: auto;
  padding: 10px 25px;
}

header ul .icon{
  color: rgba(250, 128, 114, 0.7);
  margin-right: 5px;
}

.navigation-logo{
  text-align: center;
}

.navigation-text{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  font-family: lexend tera, sans-serif;
}

header .logo{
  color: rgba(255, 255, 255, 0.2);
}

i .navigation-logo{
  margin-right: 10px;
  font-size: 40px;
}

.navigation-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.navigation-link{
  text-decoration: none;
  color: rgba(255, 255 , 255, 0.5);
}

.navigation-link:hover,
.navigation-item .active{
  color: #FFF;
  transition: 3s;
}

/* Main */

.site{
  background-color: #F1F1F1;
}
.card-title, .card-date{
  color:lightcoral;
  font-family: 'jura', sans-serif;
}

.card-date{
  font-size: 0.9rem;
  opacity: 0.6;
}

.img{
  width: 100%;
}

.btn{
  text-align: center;
}

.modal-title{
  color:lightcoral;
}


/* Footer */
footer{
  display: flex;
  flex-direction: column;
  background-color: rgba(165, 42, 42, 0.8);
  font-size: 0.8rem;
  height: 235px;
  line-height: 0px;
  align-items: center;
  font-family: 'Jura', sans-serif;
  color: rgba(255, 255, 255, 0.8);
}

footer .top-footer i{
  padding: 30px 0;
}


footer .bottom-footer i{
  margin-right: 15px;
}

footer .bottom-footer a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

footer .bottom-footer a:hover{
  color: #FFF;
}

/* Responsive for device more than 509px */
@media screen and (min-width: 509px){
  header .navigation .navigation-list{
    flex-direction: row;
    margin: 0px;
    padding: 0px;
  }

  .navigation{
    display: flex;
    justify-content: center;
  }

  .navigation-item{
    margin: 0 10px;
  }

}

/* Responsive for device more than 780px */
@media screen and (min-width: 780px){
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .site{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.55fr 0.98fr 1fr 1fr;
    gap: 5px;
    grid-template-areas: 
    "card1 card1 card1"
    "card2 card2 card3"
    "card4 card5 card5"
    "card6 card7 card8";
    padding-bottom: 15px;
  }
  
  .card1{
    grid-area: card1;
  }
  
  .card2{
    grid-area: card2;
  }

  .card3{
    grid-area: card3;
  }

  .card4{
    grid-area: card4;
  }

  .card5{
    grid-area: card5;
  }

  .card6{
    grid-area: card6;
  }

  .card7{
    grid-area: card7;
  }

  .card8{
    grid-area: card8;
  }

  .center-button{
    text-align: center;
  }
}